$black: #000000;
$white: #FFFFFF;
$red: #FF0000;
$blue: #03A9F4;
$green: #4CAF50;
$orange: #F57C00;

.black { background-color: $black; }
.black-text { color: $black; }

.white { background-color: $white; }
.white-text { color: $white; }

.red { background-color: $red; }
.red-text { color: $red; }

.blue { background-color: $blue; }
.blue-text { color: $blue; }

.green { background-color: $green; }
.green-text { color: $green; }

.orange { background-color: $orange; }
.orange-text { color: $orange; }